[submodule "CAPSTONE_PROJECTS/AIExpense-ManagementSystem"]
	path = CAPSTONE_PROJECTS/AIExpense-ManagementSystem
	url = https://github.com/Anujpatel04/AIExpense-ManagementSystem
[submodule "CAPSTONE_PROJECTS/ChurnSense"]
	path = CAPSTONE_PROJECTS/ChurnSense
	url = https://github.com/Anujpatel04/ChurnSense.git
[submodule "CAPSTONE_PROJECTS/DailyNews_IncrementalModel"]
	path = CAPSTONE_PROJECTS/DailyNews_IncrementalModel
	url = https://github.com/Anujpatel04/DailyNews_IncrementalModel
[submodule "CAPSTONE_PROJECTS/MemoryBase_Chatbot"]
	path = CAPSTONE_PROJECTS/MemoryBase_Chatbot
	url = https://github.com/Anujpatel04/MemoryBase_Chatbot
[submodule "CAPSTONE_PROJECTS/Multi-agent-orchestrator-system-with-standardized-A2A-Protocol"]
	path = CAPSTONE_PROJECTS/Multi-agent-orchestrator-system-with-standardized-A2A-Protocol
	url = https://github.com/Anujpatel04/Multi-agent-orchestrator-system-with-standardized-A2A-Protocol
[submodule "CAPSTONE_PROJECTS/Synthetic_Data_Factory"]
	path = CAPSTONE_PROJECTS/Synthetic_Data_Factory
	url = https://github.com/Anujpatel04/Synthetic_Data_Factory
[submodule "RAGs/GraphRAG_Papers"]
	path = RAGs/GraphRAG_Papers
	url = https://github.com/Anujpatel04/GraphRAG_Papers.git
